# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Variables de entorno
.env
.env.*
!.env.example

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
